[submodule "VPRM_tools"]
	path = VPRM_tools
	url = https://github.com/Matthias-Reif-PhD/VPRM_tools.git
[submodule "WRF_VPRM_post"]
	path = WRF_VPRM_post
	url = https://github.com/Matthias-Reif-PhD/WRF_VPRM_post.git
[submodule "WRF_VPRM_pre"]
	path = WRF_VPRM_pre
	url = https://github.com/Matthias-Reif-PhD/WRF_VPRM_pre.git
