CAMS/slurm-2806640.out
CAMS/slurm-2806705.out
CAMS/slurm-2806707.out
geogrid.log
GRIBFILE.AAA
GRIBFILE.AAB
GRIBFILE.AAC
GRIBFILE.AAD
GRIBFILE.AAE
GRIBFILE.AAF
GRIBFILE.AAG
GRIBFILE.AAH
GRIBFILE.AAI
GRIBFILE.AAJ
GRIBFILE.AAK
GRIBFILE.AAL
GRIBFILE.AAM
GRIBFILE.AAN
GRIBFILE.AAO
GRIBFILE.AAP
GRIBFILE.AAQ
GRIBFILE.AAR
GRIBFILE.AAS
GRIBFILE.AAT
GRIBFILE.AAU
GRIBFILE.AAV
GRIBFILE.AAW
GRIBFILE.AAX
GRIBFILE.AAY
GRIBFILE.AAZ
GRIBFILE.ABA
GRIBFILE.ABB
GRIBFILE.ABC
GRIBFILE.ABD
GRIBFILE.ABE
metgrid.log
ungrib.log
slurm-*

